/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#out {
  font-family: monospace;
  font-size: 10px;
}

#canvases canvas {
  border: 1px solid blue;
}